[submodule "client-gateway"]
	path = client-gateway
	url = git@gh:dr-glasdou/nest-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = git@gh:dr-glasdou/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = git@gh:dr-glasdou/orders-ms.git
